<!DOCTYPE html>
<html>
<head>
    <title>Donation Form</title>
    <link rel="stylesheet" href="task_3_style.css">
</head>
<body>
        <h2>Donor Information </h2>
        <form>
            <table>
                <tr>
                   <td>
                    First Name
                   </td>
                </tr>
                <tr>
                    <td>
                    <input type="text" >
                   </td>
                </tr>
              <tr>
                <td>
                    Last Name
                </td>
            </tr>

        <tr>
            <td>
                    <input type="text" >
                </td>
        </tr>
               
                <tr>
                    <td>
                        Address
                    </td>
                </tr>
                <tr>
                     <td>
                        <input type="text"  >
                    </td>
                </tr>
                <tr>
                    <td>
                        City
                    </td>
                
                </tr>
                <tr>
                    <td>
                        <input type="text" >
                    </td>
                </tr>
                <tr>
                    <td>
                        State
                    </td>
                
            </tr>
            <tr>
                <td>
                    <select >
                        <option value="">Select a State</option>
                        <option>Dhaka</option>
                        <option>Chittagong</option>
                        <option>Rajshahi</option>
                    </select>
                </td>
            </tr>
    
                <tr>
                    <td>
                        Country
                    </td>
                
            </tr>
            <tr>
                <td>
                    <select >
                        <option value="">Select a Country</option>
                        <option>USA</option>
                        <option>Canada</option>
                        <option>Bangladesh</option>
                        <option>Afganisthan</option>
                        <option>Palestine</option>
                        <option>Pakisthan</option>
                        <option>China</option>
                    </select>
                </td>
            </tr>
                <tr>
                    <td>
                        Phone
                    </td>
                   
                </tr>
                <tr>
                     <td>
                        <input type="number">
                    </td>
                </tr>

                <tr>
                    <td >
                        <h3>Donation Amount</h3>
                    </td>
                </tr>
                <tr>
                    <td >
                    <label><input type="radio" name="amount" value="None"> none </label>
                    <label><input type="radio" name="amount" value="50"> 50 BDT</label>
                    <label><input type="radio" name="amount" value="100"> 100 BDT</label>
                    <label><input type="radio" name="amount" value="250"> 250 BDT</label>
                    <label><input type="radio" name="amount" value="other"> Other</label>
                </td>
            </tr>
            <br><br>
                <tr>
                    <td>
                        <h4>Other Amount</h4>
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        <input type="text" placeholder="Other amount">
                    </td>
                </tr>
                <br><br>
                <tr>
                    <td >
                    <td><input type="checkbox" > I am interested in giving on a regular basis.
                    </td>
                
                </td>
            </tr>
                <tr>
                    <td>
                        Monthly Credit Card in Months:
                    </td>
                   
                </tr>
                <tr>
                     <td>
                        <input type="number" >
                    </td>
                </tr>
               
                <tr>
                    <td >
                        <h4>
                            How may we contact you?
                        </h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>
                        E-mail
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" >
                    </td>
                    <td>
                        Telephone
                    </td>
                </tr>
        
            </table>
             <button type="submit" >Submit</button>
             <button type="reset" >Reset</button>


        </form>
    

<script src="task_3_valid.js"></script>
</body>

</html>

